@model SchoolSystem3.ViewModels.MajorCourseModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Major Name
        </th>
        <th>
            Name Of Dean
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Majors)
    {
        string selectedRow = "";
        if (item.MajorID == ViewBag.MajorID)
        {
            selectedRow = "success";
        }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.FullName)
        </td>

        <td>
            @Html.ActionLink("Show Courses", "ReadOnlyIndex", new { id = item.MajorID })
        </td>
    </tr>
    }

</table>

@if (Model.Courses != null)
{
    <h3>Courses Of Majors</h3>
    <table class="table">
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Major</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
              
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Majors.Name
                </td>
            </tr>
        }

    </table>
}
